{% extends "checkout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <h2 id="balance" style="display: inline-block">Balance: ${{ user.balance }}</h2>
    {% if form %}
        <button type="submit" class="btn btn-primary mb-4" id="new_item_button">Add Item</button>
    {% endif %}
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'checkout:index' %}">All - {{ items_count }} items - ${{ items_sum }}
        </a></li>
        {% for category in categories %}
            <li class="list-group-item"><a href="{% url 'checkout:category' category.title|lower %}">
                {{ category.title }} - {{ category.count}} items - ${{ category.sum }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% if form %}
<form action="{% url 'checkout:create_item' %}" id="new_item_form"  style="display:none" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endif %}

<div id="items_list">
{% for item in items %}

    <div class="card mt-4 mb-4 item_div" id="{{ item.id }}">
      <div class="card-body">
        <h2 class="card-title"><span class="item item_name">{{ item.name }}</span></h2>
        <p class="card-text p-4">
        Price: $<span class="item item_price">{{ item.price }}</span>
        <br>
        Quantity: <span class="item item_quantity">{{ item.quantity }}</span>
        <br>
        Seller: <span class="item item_seller">{{ item.seller }}</span>
        <br>
        Date: <span class="item item_date">{{ item.date }}</span>
        <br>
        Category: <span class="item item_category">{{ item.category }}</span>
        <br>
        {% if item.comment %}
        Comment: 
        {% endif %}
        <span class="item item_comment">{{ item.comment }}</span>
        </p>
        <button type="submit" class="btn btn-primary edit_button">Edit</button>
        <button type="submit" class="btn btn-danger delete_button">Delete</button>
      </div>
    </div>

{% endfor %}
</div>
{% if page_obj %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
    {% endif %}
    {% for num in paginator.page_range %}
        {% if num == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a></li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
    {% endif %}
  </ul>
    </nav>
{% else %}
    <h1>No items.</h1>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'checkout/add_item.js' %}"></script>
{% endblock script %}