{% extends 'checkout/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}

<form action="{% url 'payment:add' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-2 mb-2">Add</button>
</form>

{% for payment in payments %}
    <div class="card mb-2">
      <div class="card-body">
        <h2 class="card-title">${{ payment.value }}</h2>
        <p class="card-text">
        Source: {{ payment.source }}
        <br>
        Date: {{ payment.date }}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
{% endfor %}

{% endblock body %}